################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/COM3D2/packages/Newtonsoft.Json.12.0.3
/COM3D2/COM3D2.sln
/COM3D2/.vs/COM3D2/v16
/.vs
/COM3D2/COM3D2.YotogiAnywhere/bin/Debug
/COM3D2/COM3D2.YotogiAnywhere/obj/Debug
/COM3D2/COM3D2.YotogiAnywhere/Properties
/COM3D2/COM3D2.YotogiAnywhere/COM3D2.YotogiAnywhere.csproj
/COM3D2/COM3D2.YotogiAnywhere/packages.config
